.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.about-us-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.about-us-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.about-us-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.about-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-us-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-logo1 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.about-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.about-us-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 92px;
  padding-left: 96px;
  padding-right: 96px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: space-between;
}
.about-us-container1 {
  margin-top: 30px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  color: var(--dl-color-custom-neutral-dark);
  flex-direction: column;

}
.about-us-text {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 48px;
  max-width: 450px;
  padding-top: 57px;
  margin-top: 0;
  margin-bottom: var(--dl-space-space-unit);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-us-text01 {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  height: auto;
  font-family: "Nunito";
  font-size: 22px;
}
.about-us-image {
  width: 400px;
  object-fit: cover;
  padding-top: 50px;
}
.about-us-container2 {
  width: auto;
  height: auto;
  display: flex;
  margin-top: 48px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.about-us-image1 {
  width: 370px;
  height: 436px;
  align-self: center;
  object-fit: cover;
  margin-right: 116px;
}
.about-us-image2 {
  width: 392px;
  height: 353px;
  align-self: center;
  object-fit: cover;
  padding-right: var(--dl-space-space-twounits);
}
.about-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-text14 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}
@media(max-width: 991px) {
  .about-us-hero {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  .about-us-container1 {
    margin-right: 0px;
    margin-bottom: 0;
    padding-right: 0px;
  }

  .about-us-text01 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-size: 22px;

  }
  .about-us-container2 {
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    flex-direction: column;
    margin-top: 0;
    gap : 30px;
    justify-content: center;
    align-items: center;
  }

  .about-us-image {
    padding-top: 0px;
  }
  .about-us-image1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .about-us-image2 {
    width: auto;
    margin-left: 0;
    padding-right: 0;
  }
}
@media(max-width: 767px) {
  .about-us-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .about-us-hero {
    width: 100%;
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text {
    
  }
  .about-us-image {
    width: 100%;
  }
  .about-us-container2 {
    width: 100%;
    
  }
  .about-us-image1 {
    
  }
  .about-us-image2 {
    
  }
  .about-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 438px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
  }
  .about-us-icon {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .about-us-mobile-menu1 {
    padding: 16px;
  }
  .about-us-nav {
    height: 606px;
    padding-top: 0px;
  }
  .about-us-logo1 {
    font-family: Georgia;
  }
  .about-us-links1 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .about-us-nav121 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-nav222 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-nav321 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-nav322 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-nav421 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-nav521 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-hero {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .about-us-container1 {
    width: auto;
    height: auto;
    margin-top: 91px;
    padding-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }
  .about-us-text {
    font-size: 48px;
    margin-top: 39px;
    padding-top: 0px;
  }
  .about-us-text01 {
    margin-top:0 ;
    align-self: center;
    font-size: 22px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: 16px;
    padding-right: 16px;
  }
  .about-us-image {
    align-self: center;
  }
  .about-us-container2 {
    width: 100%;
    height: auto;
  }
  .about-us-image1 {
    width: 100%;
    height: auto;
    align-self: center;
    object-fit: cover;
    margin-right:0;
  }
  .about-us-image2 {
    width: 100%;
    height: auto;
    align-self: center;
    object-fit: cover;
    padding-right: 0;
  }
  .about-us-footer {
    height: 99px;
    padding: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
