.contact1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.contact1-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact1-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.contact1-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact1-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.contact1-nav12 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav22 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav221 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav32 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav42 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav52 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-burger-menu {
  display: none;
}
.contact1-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact1-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact1-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact1-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-nav121 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav222 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav321 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav322 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav421 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav521 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact1-banner {
  width: 473px;
  height: 954px;
  display: flex;
  align-items: center;
  padding-top: 165px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 29px;
  justify-content: space-between;
  background-color: var(--dl-color-custom-secondary1);
}
.contact1-text {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-bottom: 30px;
  
}
.contact1-form {
  width: 282px;
  height: 351px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-textinput {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 34px;
  margin-bottom: var(--dl-space-space-unit);
}
.contact1-textinput1 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 34px;
  margin-bottom: var(--dl-space-space-unit);
}
.contact1-select {
  width: 100%;
  height: 34px;
  padding-top: 4px;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.contact1-textinput2 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 100%;
  height: 122px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.contact1-button {
  align-self: center;
}
.contact1-container1 {
  width: 351px;
  height: 53px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact1-text1 {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact1-container2 {
  flex: 0 0 auto;
  width: 330px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-right: 5px;
}
.contact1-link {
  display: contents;
}
.contact1-image {
  width: 61px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact1-link1 {
  display: contents;
}
.contact1-image1 {
  width: 61px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact1-link2 {
  display: contents;
}
.contact1-image2 {
  width: 61px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact1-link3 {
  display: contents;
}
.contact1-image3 {
  width: 61px;
  height: 58px;
  align-self: flex-start;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact1-container3 {
  width: 376px;
  height: 236px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-text2 {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 26px;
  align-self: center;
  text-transform: capitalize;
}
.contact1-header1 {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact1-navbar-interactive1 {
  height: 118px;
  background-color: #99a08f;
}
.contact1-logo2 {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact1-links2 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.contact1-nav122 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav223 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav224 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav323 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav422 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-nav522 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.contact1-burger-menu1 {
  display: none;
}
.contact1-icon10 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact1-mobile-menu11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact1-logo3 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.contact1-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact1-icon12 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact1-links3 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-nav123 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-nav225 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-nav324 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-nav325 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-nav423 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-nav523 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.contact1-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact1-container4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact1-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact1-nav124 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}
.contact1-nav226 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav326 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav327 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav424 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-nav524 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact1-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact1-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact1-text7 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}
.contact1-icon-group2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact1-icon20 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon22 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.contact1-icon24 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .contact1-text2 {
    font-size: 26px;
    align-self: center;
    text-transform: lowercase;
  }
}
@media(max-width: 767px) {
  .contact1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-desktop-menu {
    display: none;
  }
  .contact1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact1-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-nav222 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-nav322 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact1-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .contact1-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact1-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 438px) {
  .contact1-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact1-mobile-menu1 {
    padding: 16px;
  }
  .contact1-banner {
    height: 847px;
    padding-top: 182px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: 114px;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 36px;
  }
  .contact1-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .contact1-desktop-menu1 {
    display: none;
  }
  .contact1-burger-menu1 {
    display: flex;
  }
  .contact1-icon10 {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .contact1-mobile-menu11 {
    padding: 16px;
  }
  .contact1-nav1 {
    height: 606px;
    padding-top: 0px;
  }
  .contact1-logo3 {
    font-family: Georgia;
  }
  .contact1-links3 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .contact1-nav123 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-nav225 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-nav324 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-nav325 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-nav423 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-nav523 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact1-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact1-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact1-container5 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
