.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.contact-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact-navbar-interactive {
  height: 78px;
  background-color: #96A38F;
}
.contact-logo {
  font-size: 2em;
  font-family: Georgia;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color :rgb(62, 70, 80)
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: 100%;
  cursor: pointer;
  height: 32px;
}
.contact-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: 100%;
  cursor: pointer;
  height: 32px;
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.contact-banner {
  width: 552px;
  height: 802px;
  display: flex;
  align-items: center;
  padding-top: 68px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-secondary1);
}

.contact-text {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 50px;
}
.contact-container1 {
  flex: 0 0 auto;
  width: 576px;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.contact-text01 {
  font-size: 6mm;
  line-height: 150%;
  width: 100;
  text-align: center;
  color: var(--dl-color-custom-primary1);
  font-family: "Nunito";
}
.contact-container2 {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.contact-container2 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-link {
  display: contents;
}
.contact-image {
  width: 51px;
  align-self: flex-start;
  object-fit: contain;
  text-decoration: none;
}
.contact-link1 {
  display: contents;
}

.contact-link2 {
  display: contents;
}

.contact-link3 {
  display: contents;
}

.contact-container3 {
  width: 376px;
  height: 236px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-text04 {
  fill: var(--dl-color-custom-primary1);
  color: var(--dl-color-custom-primary1);
  font-size: 26px;
  align-self: center;
  text-transform: capitalize;
  font-family: "Nunito";
}
.contact-header1 {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.contact-navbar-interactive1 {
  height: 118px;
  background-color: #99a08f;
}
.contact-logo2 {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.contact-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links2 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.contact-burger-menu1 {
  display: none;
}
.contact-icon10 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-logo3 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.contact-close-menu1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon12 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.contact-links3 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-footer {
  margin-bottom: 2px;
}
.contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-text10 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}

.contact-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
}

.divTitleContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
}

.barre-v {
  margin-top: 70px;
  width: 2px;
  height: 400px;
  background-color: #99a08f;
}
.contact-nav2 {
  font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
    color: rgb(62, 70, 80);
}

@media(max-width: 1170px) {
  .contact-text04 {
    font-size: 26px;
    align-self: center;
    text-transform: lowercase;
  }

  .contact-text01 {
    line-height: 150%;
  }
  .barre-v {
    display: none;
  }
  .contact-banner {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-nav121 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav222 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav321 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav322 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-nav521 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text04 {
    text-transform: capitalize;
  }
  .contact-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-burger-menu1 {
    align-items: center;
    justify-content: center;
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-div {
    flex-direction: column;
  }
  .contact-banner {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .contact1-form {
    margin-bottom: 0;
  }
  .contact-text01 {
    line-height: 150%;
  }
}
@media(max-width: 438px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu1 {
    padding: 16px;
  }


  .contact-banner {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .contact-text {
    font-size: 3rem;
    padding-top: 0px;
    margin-bottom: 30px;
  }
  .contact-container1 {
    width: 250px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-container2 {
    padding-right: 0px;
    justify-content: center;
  }
  .contact-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
 
  .contact-container3 {
    width: 295px;
  }
  .contact-text04 {
    font-size: 20px;
    text-transform: capitalize;
  }
  .contact-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .contact-desktop-menu1 {
    display: none;
  }
  .contact-burger-menu1 {
    display: flex;
  }
  .contact-icon10 {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .contact-mobile-menu11 {
    padding: 16px;
  }
  .contact-nav1 {
    height: 606px;
    padding-top: 0px;
  }
  .contact-logo3 {
    font-family: Georgia;
  }
  .contact-links3 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .contact-nav123 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-nav225 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-nav324 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-nav325 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-nav423 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-nav523 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
    padding-top: 171px;
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
