.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.gallery-card3-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
.gallery-card3-root-class-name2 {
  width: auto;
}

.gallery-card3-root-class-name12 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}

.gallery-card3-root-class-name14 {
  width: auto;
}

.gallery-card3-root-class-name28 {
  margin-left: var(--dl-space-space-halfunit);
}
.gallery-card3-root-class-name34 {
  margin-left: 140px;
}
.gallery-card3-root-class-name35 {
  margin-left: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .gallery-card3-root-class-name34 {
    width: var(--dl-size-size-xxlarge);
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .gallery-card3-root-class-name28 {
    width: var(--dl-size-size-xxlarge);
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 438px) {
  .gallery-card3-container {
    height: 508px;
    align-self: center;
  }
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-card3-root-class-name28 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name34 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
}

.females-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.females-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.females-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.females-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(62, 70, 80);
}
.females-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.females-burger-menu {
  display: none;
}
.females-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.females-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.females-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.females-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.females-logo1 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.females-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.females-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.females-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.females-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.females-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.females-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.females-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  justify-content: center;
}
.females-hero1 {
  padding-top: 20px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.females-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}

.divTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.return-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color:#99a08f;
  padding: 5px;
  color: white;
  transition: 250ms ease;
}

.return-button:hover {
  background-color: #777d6e;
  transition: 250ms ease;
}

.females-text {
  font-size: 3rem;
  align-self: flex-start;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.females-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.females-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.females-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.females-text1 {
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
}
@media(max-width: 991px) {
  .females-hero1 {
    flex-direction: column;
  }
  .females-container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .females-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .females-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .females-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .females-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .females-container1 {
    grid-template-columns: 1fr 1fr;
  }
  .females-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .females-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .females-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .return-button {
    display: none;
  }

}
@media(max-width: 438px) {
  .females-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .females-desktop-menu {
    display: none;
  }
  .females-burger-menu {
    display: flex;
  }
  .females-icon {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .females-mobile-menu1 {
    padding: 16px;
  }
  .females-nav {
    height: 606px;
    padding-top: 0px;
  }
  .females-logo1 {
    font-family: Georgia;
  }
  .females-links1 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .females-nav121 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-nav222 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-nav321 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-nav322 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-nav421 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-nav521 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .females-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .females-gallery {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 4px;
  }
  .females-text {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 30px;
  }

  .females-text1 {
    margin-top: 15px;
  }
  .females-container1 {
    grid-template-columns: 1fr;
  }
  .females-footer {
    padding: var(--dl-space-space-unit);
  }
  .females-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .females-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
