.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 438px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}

@media(max-width: 767px) {
  .question1-container {
    align-items: flex-start;
  }
  .question1-text {
    align-self: flex-start;
    text-align: left;
  }
}
@media(max-width: 438px) {
  .question1-text {
    align-self: flex-start;
    text-align: left;
  }
}

.gallery-card21-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-container {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.gallery-card21-container:hover {
  opacity: 1;
}
.gallery-card21-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card21-text {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card21-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card21-root-class-name {
  flex: 1;
  align-self: flex-start;
}


.gallery-card21-root-class-name4 {
  flex: 1;
  height: 100%;
}

@media(max-width: 767px) {
  .gallery-card21-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 438px) {
  .gallery-card21-gallery-card {
    width: 266px;
  }
  .gallery-card21-container {
    width: 100%;
    height: 369px;
    max-width: auto;
  }
  .gallery-card21-container1 {
    width: 100%;
    height: 100%;
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .gallery-card21-image {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: auto;
    height: 100%;
    margin: auto;
    margin-right: auto;
  }
  .gallery-card21-root-class-name {
    width: auto;
    height: auto;
    align-self: center;
  }
  .gallery-card21-root-class-name2 {
    width: auto;
    height: 100%;
    align-self: center;
  }
  .gallery-card21-root-class-name4 {
    flex: 2;
    width: auto;
    height: auto;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.home-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-nav12 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-nav22 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-nav221 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-nav32 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-nav42 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-nav52 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-nav121 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-nav222 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-nav321 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-nav322 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-nav421 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-nav521 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.home-hero1 {
  height: 345px;
  padding-bottom: 59px;
  background-color: var(--dl-color-custom-secondary1);
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  font-size: 36px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  text-decoration: none;
}
.home-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-hero-button1 {
  text-decoration: none;
}
.home-hero-button2 {
  text-decoration: none;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features-container {
  background-size: cover;
  background-color: transparent;
  background-image: url("https://images.unsplash.com/photo-1496436453575-d409fe300f98?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fG1haW5jb29ufGVufDB8fHx8MTcxMTk3ODUwMXww&ixlib=rb-4.0.3&w=1500");
  background-position: center;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 573px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-container03 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.home-feature-card1 {
  text-decoration: none;
}
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 68px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-container04 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text23 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text24 {
  text-align: left;
}
.home-container05 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-gallery {
  width: 1512px;
  height: 1288px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container06 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container08 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container09 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container10 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.home-container11 {
  flex: 2;
  width: 324px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text27 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-faq1 {
    padding-top: 52px;
  }
  .home-text24 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container11 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-links {
    width: 570px;
    height: auto;
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features1 {
    height: 806px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container03 {
    grid-template-columns: 1fr;
  }
  .home-faq1 {
    height: 948px;
    padding-top: 100px;
    flex-direction: column;
  }
  .home-container04 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text24 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 438px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-icon {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .home-mobile-menu1 {
    padding: 16px;
  }
  .home-nav {
    height: 606px;
    padding-top: 0px;
  }
  .home-logo1 {
    font-family: Georgia;
  }
  .home-links1 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .home-nav121 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-nav222 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-nav321 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-nav322 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-nav421 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-nav521 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-hero {
    width: 100%;
    height: 450px;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .home-hero1 {
    height: 461px;
    padding-top: 72px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    height: 586px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero-heading {
    height: 186px;
    margin-top: 0px;
    font-family: Impact;
    padding-top: 0px;
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-features1 {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-faq1 {
    height: auto;
    padding-bottom: 59px;
  }
  .home-gallery {
    width: 100%;
    height: 1796px;
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 13px;
  }
  .home-container06 {
    width: 343px;
    height: 1199px;
    padding-top: 44px;
    margin-bottom: 0px;
  }
  .home-container07 {
    width: 314px;
    height: 100%;
    align-self: center;
    padding-bottom: 0px;
  }
  .home-container08 {
    width: 100%;
    height: 385px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-container09 {
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-container10 {
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-container11 {
    width: auto;
    height: 467px;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
