.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.gallery-card3-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
.gallery-card3-root-class-name2 {
  width: auto;
}




.gallery-card3-root-class-name12 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}

.gallery-card3-root-class-name14 {
  width: auto;
}

.gallery-card3-root-class-name28 {
  margin-left: var(--dl-space-space-halfunit);
}
.gallery-card3-root-class-name34 {
  margin-left: 140px;
}
.gallery-card3-root-class-name35 {
  margin-left: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .gallery-card3-root-class-name34 {
    width: var(--dl-size-size-xxlarge);
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .gallery-card3-root-class-name28 {
    width: var(--dl-size-size-xxlarge);
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 438px) {
  .gallery-card3-container {
    height: 508px;
    align-self: center;
  }
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-card3-root-class-name28 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name34 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }

}

.kittens-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.kittens-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.kittens-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.kittens-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.kittens-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.kittens-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-nav1 {
  font-size: 22px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.kittens-burger-menu {
  display: none;
}
.kittens-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.kittens-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.kittens-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.kittens-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.kittens-logo1 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.kittens-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kittens-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.kittens-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.kittens-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kittens-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.kittens-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.kittens-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-secondary1);
}
.kittens-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kittens-hero1 {
  padding-top: 197px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.kittens-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  margin-top: 50px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.kittens-text {
  font-size: 3rem;
  text-align: center;
}
.kittens-container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start; 
}
.kittens-text1 {
  text-align: center;
}
.kittens-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.kittens-gallery1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kittens-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.kittens-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.kittens-text2 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}
@media(max-width: 991px) {
  .kittens-hero1 {
    flex-direction: column;
  }
  .kittens-text {
    align-self: flex-start;
  }
  .kittens-container3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .kittens-container2 {
   
  }
}
@media(max-width: 767px) {
  .kittens-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kittens-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .kittens-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kittens-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kittens-container2 {
    width: auto;
  }
  .kittens-container3 {
    grid-template-columns: 1fr 1fr;
  }
  .kittens-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .kittens-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .kittens-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 438px) {
  .kittens-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .kittens-desktop-menu {
    display: none;
  }
  .kittens-burger-menu {
    display: flex;
  }
  .kittens-icon {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .kittens-mobile-menu1 {
    padding: 16px;
  }
  .kittens-nav {
    height: 606px;
    padding-top: 0px;
  }
  .kittens-logo1 {
    font-family: Georgia;
  }
  .kittens-links1 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .kittens-nav121 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-nav222 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-nav321 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-nav322 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-nav421 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-nav521 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .kittens-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .kittens-gallery {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 115px;
  }
  .kittens-text {
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-space-space-twounits);
    text-align: left;
    font-family: Inter;
    font-weight: 700;
  }
  .kittens-container2 {
    width: 100%;
    height: auto;
    padding : 0 20px;
    margin-top: 0;
  }
  .kittens-container3 {
    width: 100%;
    padding-right: 0px;
    grid-template-columns: 1fr;
  }
  .kittens-footer {
    padding: var(--dl-space-space-unit);
  }
  .kittens-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .kittens-container4 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
