.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.gallery-card3-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
.gallery-card3-root-class-name2 {
  width: auto;
}




.gallery-card3-root-class-name12 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}

.gallery-card3-root-class-name14 {
  width: auto;
}

.gallery-card3-root-class-name28 {
  margin-left: var(--dl-space-space-halfunit);
}
.gallery-card3-root-class-name34 {
  margin-left: 140px;
}
.gallery-card3-root-class-name35 {
  margin-left: var(--dl-space-space-fiveunits);
}
@media(max-width: 991px) {
  .gallery-card3-root-class-name34 {
    width: var(--dl-size-size-xxlarge);
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .gallery-card3-root-class-name28 {
    width: var(--dl-size-size-xxlarge);
  }
  .gallery-card3-root-class-name35 {
    width: var(--dl-size-size-xxlarge);
    height: var(--dl-size-size-xxlarge);
    margin-left: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 438px) {
  .gallery-card3-container {
    height: 508px;
    align-self: center;
  }
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-card3-root-class-name28 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name34 {
    width: 100%;
    margin-left: 0px;
  }
  .gallery-card3-root-class-name35 {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
}

.males-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.males-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.males-navbar-interactive {
  height: 118px;
  background-color: #99a08f;
}
.males-logo {
  font-size: 2em;
  font-family: "Georgia";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
}
.males-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.males-links {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 636px;
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.males-nav12 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-nav22 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-nav221 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-nav32 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-nav42 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-nav52 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "Impact";
  font-weight: 400;
  line-height: 150%;
  margin-left: var(--dl-space-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
.males-burger-menu {
  display: none;
}
.males-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.males-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.males-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.males-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.males-logo1 {
  font-size: 2em;
  font-family: Nunito;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.males-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.males-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.males-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.males-nav121 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-nav222 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-nav321 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-nav322 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-nav421 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-nav521 {
  font-size: 20px;
  text-align: center;
  font-family: Laila;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.males-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.males-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.males-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.males-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.males-hero1 {
  height: 823px;
  padding-top: 55px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.males-gallery {
  width: 1057px;
  height: 509px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 45px;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.males-text {
  font-size: 3rem;
  align-self: flex-start;
  text-align: center;
}
.males-container1 {
  width: 1028px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.males-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.males-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.males-text1 {
  font-size: 16px;
  font-family: "Georgia";
  font-weight: 400;
  line-height: 150%;
}
@media(max-width: 991px) {
  .males-hero1 {
    flex-direction: column;
  }
  .males-gallery {
    width: 883px;
    margin-right: 0px;
  }
  .males-text {
    font-size: 3rem;
  }
  .males-container1 {
    width: 883px;
    align-self: flex-end;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .males-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .males-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .males-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .males-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .males-container1 {
    width: 648px;
    grid-template-columns: 1fr 1fr;
  }
  .males-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .males-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .males-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 438px) {
  .males-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .males-desktop-menu {
    display: none;
  }
  .males-burger-menu {
    display: flex;
  }
  .males-icon {
    width: var(--dl-size-size-medium);
    height: 32px;
  }
  .males-mobile-menu1 {
    padding: 16px;
  }
  .males-nav {
    height: 606px;
    padding-top: 0px;
  }
  .males-logo1 {
    font-family: Georgia;
  }
  .males-links1 {
    width: 211px;
    height: 483px;
    align-self: flex-start;
  }
  .males-nav121 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-nav222 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-nav321 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-nav322 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-nav421 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-nav521 {
    font-size: 24px;
    font-family: Georgia;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .males-hero1 {
    height: 1916px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .males-gallery {
    width: 479px;
    height: 1875px;
    padding: var(--dl-space-space-twounits);
    padding-top: 92px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 37px;
  }
  .males-text {
    font-size: 3rem;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
  }
  .males-container1 {
    width: 394px;
    align-self: center;
    margin-top: var(--dl-space-space-fiveunits);
    padding-right: 0px;
    grid-template-columns: 1fr;
  }
  .males-footer {
    padding: var(--dl-space-space-unit);
  }
  .males-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .males-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
