.catPageContainer {
    margin-top: 0;
    padding-top: 0;
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.catPageTitle {
    font-size: 3rem;
    align-self: flex-start;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.catPageImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cat-name {
    margin-bottom: 30px;;
}

.catPageText {
    margin-top: 39px;
    text-align: justify;
    font-family: "Nunito";
    font-size: 26px;
}
@media(max-width: 767px) {
    .catPageContainer {
        padding-left: 0pc;
        padding-right: 0px;
    }

}

@media(max-width: 438px) {

    .catPageText {
        margin-top: 30px;
    }
    .catPageTitle {
        margin-top: -24px;
        margin-bottom: 0px;
        text-align: center;
}
.catPageContainer {
    padding-left: 0pc;
    padding-right: 0px;
}
.catPageContent {
    padding-left: 48px;
    padding-right: 48px;
}
}
@media(min-width:1340px){
    .catPageImg {
        height: 300px;
    }
        /* .catPageText {
            font-size: 26px;
        } */
    
}
@media(min-width:1590px){
    .catPageImg {
        height: 350px;
    }
        /* .catPageText {
            font-size: 26px;
        } */
    
}
@media(min-width:1700px){
    .catPageImg {
        height: 400px;
    }
        /* .catPageText {
            font-size: 26px;
        } */
    
}
@media(min-width:1930px){
    .catPageImg {
        height: 450px;
    }
        /* .catPageText {
            font-size: 28px;
        } */
    
}
@media(min-width:2190px){
    .catPageImg {
        height: 500px;
    }
        /* .catPageText {
            font-size: 28px;
        } */
    
}


 
